<div class="container-fluid error404">
  <div class="row">
    <div class="col-md-3 col-sm-12"></div>
    <div class="col-md-6 col-sm-12 container__title">
      <div class="text-white text__shadow">
        <h2 class="text-center text-danger main__title">404</h2>
        <p class="sub__title">Oops... Pagina No Encontrada</p>
        <p>Lo sentimos, pero la página que buscas no existe</p>
      </div>
      <a routerLink="/" class="btn btn-danger">Regresar al Inicio</a>
    </div>
    <div class="col-md-3 col-sm-12"></div>
  </div>
</div>
