<app-header></app-header>
<section>
  <div class="pt-4"></div>
  <h2 class="main__title pt-5 text-center main__color-shadow">Proyectos</h2>
  <div class="animated fadeIn container pt-3 pb-3">
    <div class="row">
      <div class="col-md-6 col-sm-12"
      *ngFor="let proyecto of proyectos">
        <!-- Card -->
        <div class="card card-image mb-3 foto-{{proyecto.image}}">
          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
              <h5 class="{{ proyecto.color }}-text"><i class="fa fa-{{ proyecto.icon }}"></i> {{proyecto.icon_title}}</h5>
              <h3 class="card-title pt-2"><strong>{{ proyecto.title }}</strong></h3>
              <p>{{ proyecto.description }}</p>
              <a mdbBtn color="{{ proyecto.color }}" class="waves-light" mdbWavesEffect href="{{ proyecto.url }}" target="_blank"><i
                  class="fa fa-{{ proyecto.btn_icon }} left"></i>{{ proyecto.btn_txt }}</a>
            </div>
          </div>
          <!-- Content -->
        </div>
        <!-- Card -->
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
