<div class="pt-4"></div>
<h2 class="main__title pt-5 text-center main__color-shadow">Proyectos</h2>
<div class="animated fadeIn container pt-3 pb-3">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <!-- Card -->
      <div class="card card-image mb-3" style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="pink-text"><i class="fa fa-desktop"></i> Web Design</h5>
            <h3 class="card-title pt-2"><strong>Cafetería Dolç Cafe</strong></h3>
            <p>Diseño, publicación y desarrollo de la página web para esta cafeteria, instalación de plugins y aprovechando al máximo el potencial de WORDPRESS.</p>
            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect href="https://dolçcafe.com" target="_blank"><i class="fa fa-clone left"></i> Ver Proyecto</a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>
    <div class="col-md-6 col-sm-12">
      <!-- Card -->
      <div class="card card-image mb-3" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20(47).jpg');">
        <!-- Content -->
        <div class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4">
          <div>
            <h5 class="orange-text"><i class="fa fa-desktop"></i> Web Design</h5>
            <h3 class="card-title pt-2"><strong>Pizzería ÑamÑam</strong></h3>
            <p>Diseño, publicación y desarrollo de la pàgina web para esta pizzería, con el potente FrameWork Angular 7, utilizando el patron de diseño MVC (Modelo, Vista, Controlador)</p>
            <a mdbBtn color="deep-orange" class="waves-light" mdbWavesEffect href="http://pizzeriafamiliarñamñam.ml" target="_blank"><i class="fa fa-clone left"></i> Ver
              Proyecto</a>
          </div>
        </div>
        <!-- Content -->
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
