<!-- Footer -->
<footer class="page-footer font-small elegant-color darken-3">
    <!-- Footer Elements -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center social">
            <a href="https://facebook.com/LuisTheThunder/" target="_blank" rel="noopener" class="nav-link" aria-label="Facebook"><mdb-icon icon="facebook" size="2x" class="white-text"></mdb-icon></a>
            <a href="https://api.whatsapp.com/send?phone=+34663411621" target="_blank" rel="noopener" class="nav-link" aria-label="Whatsapp"><mdb-icon icon="whatsapp" size="2x" class="white-text"></mdb-icon></a>
            <a href="https://twitter.com/@luichiarana" target="_blank" rel="noopener" class="nav-link" aria-label="Twitter"><mdb-icon icon="twitter" size="2x" class="white-text"></mdb-icon></a>
            <a href="https://www.instagram.com/disconluis/" target="_blank" rel="noopener" class="nav-link" aria-label="Instagram"><mdb-icon icon="instagram" size="2x" class="white-text"></mdb-icon></a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class=" container footer-copyright text-center py-3">
        <p>© 2019 Portafolio WEB LUIS | Todos los derechos reservados</p>
        <p>Design by: &lt; &#47; LUIS &gt;</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
