<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark rgba-black-strong scrolling-navbar fixed-top">
  <mdb-navbar-brand>
    <a routerLink="/" class="navbar-brand"><img src="assets/img/logoluis.png" class="logo" alt="Logotipo del portafolio WEB"></a>
  </mdb-navbar-brand>
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto rounded">
      <li class="nav-item">
        <a class="nav-link waves-light menu__link"
        mdbWavesEffect
        routerLink="/"
        routerLinkActive="menu__link--select"
        [routerLinkActiveOptions]="{exact:true}"
        >Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light menu__link"
        mdbWavesEffect
        routerLink="/formacion"
        routerLinkActive="menu__link--select"
        [routerLinkActiveOptions]="{exact:true}"
        >Formación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light menu__link"
        mdbWavesEffect
        routerLink="/aptitudes"
        routerLinkActive="menu__link--select"
        [routerLinkActiveOptions]="{exact:true}"
        >Aptitudes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light menu__link"
        mdbWavesEffect
        routerLink="/galeria"
        routerLinkActive="menu__link--select"
        [routerLinkActiveOptions]="{exact:true}"
        >Galería</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light menu__link"
        mdbWavesEffect
        routerLink="/proyectos"
        routerLinkActive="menu__link--select"
        [routerLinkActiveOptions]="{exact:true}"
        >Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light menu__link"
        mdbWavesEffect
        routerLink="/contacto"
        routerLinkActive="menu__link--select"
        [routerLinkActiveOptions]="{exact:true}"
        >Contacto</a>
      </li>
    </ul>
    <!-- Links -->
    <!-- social icon -->
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a href="http://facebook.com/LuisTheThunder/" class="nav-link" target="_blank" rel="noopener" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a href="https://api.whatsapp.com/send?phone=+34663411621" class="nav-link" target="_blank" rel="noopener" aria-label="Whatsapp"><i class="fa fa-whatsapp"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a href="https://twitter.com/@luichiarana" class="nav-link" target="_blank" rel="noopener" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a href="https://www.instagram.com/disconluis/" class="nav-link" target="_blank" rel="noopener" aria-label="Instagram"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
    <!-- social icon -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
