.container__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}


/*------------ Estilos responsive----------- */

@media screen and (min-width:768px) {
  .container__title {
    width: 60%;
  }
}
