<div class="pt-4"></div>
<h2 class="main__title pt-5 text-center main__color-shadow">Formación</h2>
<div class="container pt-3 pb-3">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let item of formacion">
      <mdb-card cascade="true" narrower="true">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img [src]="item.image"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="main__color sub__title">
            <i class="fa fa-{{ item.icon }}"></i> {{ item.title }}</h4>
          <!--Title-->
          <p class="card-title">{{ item.sub_title }}</p>
          <!--Text-->
          <mdb-card-text>
            <ul *ngFor="let conocimiento of item.skill" class="text-left">
              <li>{{ conocimiento.uno }}</li>
              <li>{{ conocimiento.dos }}</li>
              <li>{{ conocimiento.tres }}</li>
              <li>{{ conocimiento.cuatro }}</li>
              <li>{{ conocimiento.cinco }}</li>
              <li>{{ conocimiento.seis }}</li>
            </ul>
          </mdb-card-text>
        </mdb-card-body>
        <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 mb-4">
      <mdb-card cascade="true" narrower="true">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="assets/img/formacion.jpg"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--/Card image-->
        <mdb-card-body cascade="true" class="text-center">
          <!--Card content-->
          <h4 class="main__color sub__title">
            <i class="fa fa-code"></i> FORMACION</h4>
          <!--Title-->
          <p class="card-title">Estudios Complementarios</p>
          <!--Text-->
          <mdb-card-text>
            <ul class="text-left">
              <li>Ofimática (Word, Excel, PowerPoint, Access)</li>
              <li>POO (Programación Orientada a Objetos) Lenguaje JAVA</li>
              <li>Ingeniería de Aplicaciones Multimedia y juegos - Instituto ECC Barcelona</li>
              <li>Castellano nativo</li>
              <li>Ingles Técnico UAGRM(Universidad Autónoma Gabriel Rene Moreno)</li>
              <li>Primeros Auxilios - Cruz Roja | Bolivia</li>
            </ul>
          </mdb-card-text>
        </mdb-card-body>
        <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->
    </div>
  </div>
</div>
