@font-face {
  font-family: "merry";
  src: url("assets/fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "lobster";
  src: url("assets/fonts/Lobster/Lobster-Regular.ttf");
}

:root {
  --mainColor: #4A86E8;
  --secColor: #2E2E2E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'merry', Arial, Helvetica, sans-serif;
  margin: 0;
}

/* -------------Estilos base------------- */
img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 10px;
}

.black-shadow {
  text-shadow: 5px 5px 10px black;
}

.main__title {
  font-family: "lobster", Arial, Helvetica, sans-serif;
}

.main__color {
  color: var(--mainColor);
}

.mainBG__color {
 background: var(--mainColor);
}

/* -----Estilos del navbar custom scroll --- */
.top-nav-collapse {
  background-color: var(--secColor) !important;
}


/* -------------Estilos de laportada------------- */
.portada {
  background: url(./assets/img/portada.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
}
.portada::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, var(--mainColor), #AD55C1);
  opacity: .5;
}
