@font-face {
  font-family: "merry";
  src: url("assets/fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "lobster";
  src: url("assets/fonts/Lobster/Lobster-Regular.ttf");
}

:root {
  --mainColor: #4A86E8;
  --secColor: #2E2E2E;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'merry', Arial, Helvetica, sans-serif;
  margin: 0;
}

/* -------------Estilos base------------- */
img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}

.main__color-shadow {
  text-shadow: 5px 5px 10px var(--mainColor);
}

.text__shadow {
  text-shadow: 3px 3px 3px #000;
}
.main__title {
  font-family: "lobster", Arial, Helvetica, sans-serif;
}

.sub__title {
  font-size: .8em;
}

.main__color {
  color: var(--mainColor);
}

.mainBG__color {
 background: var(--mainColor);
}

.mainBG__color-gradient {
  background-image: linear-gradient(90deg, var(--mainColor), #AD55C1);
}

/* -----Estilos del navbar custom scroll --- */
.top-nav-collapse {
  background-color: var(--secColor) !important;
}


/* -------------Estilos de laportada------------- */
.portada {
  background: url(./assets/img/portada.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
}
.portada::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, var(--mainColor), #AD55C1);
  opacity: .5;
}
/* -------------Estilos del error404------------- */
.error404 {
  background: url(./assets/img/error404.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
}
.error404::before {
  content: "";
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, var(--mainColor), #AD55C1);
  opacity: .5;
}

/*------------ Estilos responsive----------- */

@media screen and (min-width:480px){
  .main__title {
    font-size: 3.2em;
  }

  .sub__title {
    font-size: 1em;
  }
}

@media screen and (min-width:768px) {
  .card__formacion {
    height: 400px;
  }

  .card__aptitudes {
    height: 450px;
  }

  .container__title {
    width: 60%;
  }

  .main__title {
    font-size: 4em;
  }

  .sub__title {
    font-size: 1.5em;
  }
}

@media screen and (min-width:1024px) {
  .card__formacion {
    height: 420px;
  }
}
